.root {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: grey;
}

.plane {
  box-sizing: border-box;
  transform: rotateX(45deg) rotateZ(45deg) translateX(.6px);
  transform-style: preserve-3d;
  background-color: white;
}
